<!DOCTYPE html>
<html>
<head>
    <title>SecureCMS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <h1>SecureCMS</h1>
        <a href="/">Home</a>
        <% if current_user %>
            <a href="/dashboard">Dashboard</a>
            <a href="/pages">Pages</a>
            <a href="/users">Users</a>
            <a href="/logout">Logout (<%= current_user['username'] %>)</a>
        <% else %>
            <a href="/login">Login</a>
        <% end %>
    </nav>
    <main>
        <%= yield %>
    </main>
</body>
</html>
